// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.parallax {
  background-image: url("/assets/wallpaper.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 800px;
}

//@media only screen and (max-device-width: 1366px) {
  //.parallax {
    //background-attachment: scroll;
  //}
//}

.post-end {
	border-bottom: 1px solid rgba(0,0,0,.08);
	padding-bottom: 30px;
}

a.post-link {
	font-size: 24px;
	font-weight:bold;
	color: #424242;
}

a.post-link:hover {
	color: #2a7ae2;

}
